.main-wrapper {
    padding: 0 13%;
}

/*Шапка*/
header {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    border-top: 1px solid gray;
}

.center-block {
    width: 33%;
}

.right_header {
    flex-grow: 1;
    text-align: right;
}

.lang-inline {
    margin-top: 10px !important;
}

.lang-inline li:first-child {
    padding-right: 4%;
}

.lang-inline > li > a > img {
    opacity: 0.6;
}

.lang-inline > li > a > img:hover, li.lang-active > a > img {
    opacity: 1;
}

.lang-inline img {
    width: 6rem;
}

.contacts {
    font-family: "Myanmar Text";
    font-size: 20pt;
    margin-top: 4%;
}

.contacts a {
    color: #000;
}

/*Верхнее меню*/
.right_header > nav {
    margin-top: 15%;
}

.right_header .nav {
    display: flex;
    justify-content: flex-end;
    font-family: "Carlito";
    font-size: 18pt;
}

.right_header .nav a {
    color: #000;
}

.nav > li > a {
    padding: 10px 20px;
}

    .nav > li:first-child > a {
        padding-left: 0;
    }

    .nav > li:last-child > a {
        padding-right: 0;
    }

.nav > li > a:hover {
    background: transparent;
    color: #ECC9D0;
}